﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BillDeskResponse.aspx.cs" Inherits="BillDeskResponse" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
      <script type="text/javascript">

      

    </script>
</body>
</html>
