﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HDFCChargingLink.aspx.cs" Inherits="HDFCChargingLink" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
</html>